.selector-for-some-widget {
    box-sizing: content-box;
  }

header{
    background-image: url('../images/background.jpg');
    height: 16px;
}
.navbar-brand{
    background-color: rgb(58, 141, 123);
    font-size: 40px;
    color:aliceblue;
    padding:20px 15px;
    font-weight: 600;
    font-family: Helvetica, Arial;
}
.navbar-brand:hover{
    color:white;
}
.navbar-custom{
    height:100px;
    padding: 0px;
    background-color: none;

}
h1{
    color:rgb(41, 182, 140);
    font-weight: bolder;
    font-size:45px;
}
.nav-link{
    color:rgb(13, 177, 122);
    font-size:28px;
}
.nav-link:hover{
    color:rgb(247, 168, 115);
}
.undernav{
    background-color: aqua;
}
.mid{
    background-image: url('../images/background.jpg');
    height: 500px;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: rgb(238, 226, 226);

}
.footer-copyright{
    background-color: grey;
}
.blufoot{
    background-color: aqua;
    height:10px;
}
.top{
    padding-left:0;
    padding-right:0;
}
.aboutme{
    margin-top: 25px;
    padding-left:0;
}
hr{
    height: 1px;
    color: rgb(165, 163, 163);
    background-color: rgb(206, 204, 204);
}
.toptop{
    color:forestgreen;
    font-weight: 400;
    padding-right:0;
    padding-left: 0;
    text-align: justify;
}
a{
    color:green;
}
a:hover{
    color:aqua;
}

.work{
    height: 200px;
    width: 250px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.workdiv{
    position: relative;
    margin:10px 0px;
}
.text-block{
    position: absolute;
    bottom:20px;
    background-color: rgb(58, 141, 123);
    width:250px;
    color:white;
    text-align: center;
    font-size: 20px;
}